/**
* App Styles
*/
#app {
	font: 1em/1.4 Arial, Helvetica, sans-serif;
	background-color: lightblue;
	
	line-height: 1.4;
	max-width: 650px;
	margin: auto;
	padding-left: 1%;
	form>div {
		padding: 0.5em 0;
	}
	
	legend {
		font-size: 1.1em;
		font-weight: 500;
	}
	
	label, input {
		width: 48%;
		display: inline-block;
	}
}
